.products-list {
  padding: 0;

  .break-comma + .break-comma {
    &:before {
      content: ', ';
    }
  }
}
.controls {
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
  i {
    cursor: pointer;

    &:hover {
      color: #3987c9;
      transition: .3s;
    }
  }
  i + i {
    margin-left: 10px;
  }
  .fa-trash {
    color: lighten(maroon, 15%);
  }
}
.products-loading {
  width: 50%;
  transform: translateX(20%);
  animation: 1.3s productsPreloading ease-in infinite;
  background: #17a2b8;
}

@keyframes productsPreloading {
  0% {
    transform: translateX(20%) scaleX(.8);
  }
  50% {
    transform: translateX(90%) scaleX(1);
  }
  100% {
    transform: translateX(20%) scaleX(.8);
  }
}